.footer {
    background-color: #000000;
    padding: 30px 0 15px;
}

.footer_list_icons {
    display: flex;
    width: 317px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 18px;
}

.footer_text {
    color: #FFFFFF80;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    width: 130px;
    display: block;
}

.footer_icons i {
    font-size: 22px;
    color: #b5b4b4;
    transition: .3s;
}

.footer_icons i:hover {
    transform: scale(1.5) rotate(360deg);
}